.principal-search{
    height: 100vh;
}

.container-header{
    background-color:#ffffffe6;
    height: 500px;
}

h1,nav{
    width: 600px;
    padding: 40px !important;
    color: #344D67;
}

h1{
    font-weight: 500;
}