.bg-blue{
    background-color:#344d67;
    top: 0%;
}

.btn{
    text-align: -webkit-match-parent;
}

.tituloNav{
    color: #6ECCAF !important;
    font-size: 20px;
}

.botones{
    background-color:#344D67!important;
    color: #6ECCAF;
}
.botones:hover, .btn-active{
    background-color: #6ECCAF !important;
    color: #344D67!important;
    width: fit-content;   
}